.container{
  display: grid;
 /* grid-template-columns: 250px 300px 310px;*/
 /*grid-template-columns: 1fr 2fr 1fr 1fr;*/
 /*grid-template-columns: repeat(4,1fr);*/
 grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  /*grid-auto-rows: 300px;*/
 /* grid-auto-rows: minmax(15px 300px);*/
}
.box{
    /*height: 150px;*/
}
#box1{
    background-color: red; 
}
#box2{
    background-color: gold; 
}
#box3{
    background-color: green; 
}
#box4{
    background-color: blue; 
}
#box5{
    background-color: black; 
}
#box6{
    background-color: rebeccapurple; 
}
#box7{
    background-color: turquoise; 
}
#box8{
    background-color: darkorange; 
}
#box9{
    background-color: aqua; 
}