.container{
     height: 100px;
     width: 100px;
}
.box{
    height: 150px;
    width: 150px;
}
#box1{
    background-color: blue;
}
#box2{
    background-color: rgb(0, 255, 21);
   /* position: relative;*/
   position: absolute;
   top: 20px;
   left: 10px;
}
#box3{
    background-color: rgb(255, 0, 0);
    position: fixed;
}
#box4{
    background-color: rgb(255, 51, 0);
}
.fa-solid {
    font-size: 20px;
    color: red;
}